.loader {
  text-align: center;
  width: 100%;
  height: 150px; }
  .loader svg {
    fill: #666;
    display: block;
    margin: 0 auto; }
  .loader .light {
    opacity: 0.3; }
  .loader .medium {
    opacity: 0.56; }
  .loader .dark {
    opacity: 0.88; }
  .loader #arm {
    transform-origin: bottom right;
    animation: swing-arm 1s alternate infinite; }

@keyframes swing-arm {
  0% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(-10deg); } }
  .loader .loader-rotate {
    transform-origin: center center;
    animation: spinner-steps 0.9s steps(8) infinite; }

@keyframes spinner-steps {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
