.wrapperUser {
  margin: 50px 0;
  box-shadow: 0 0 10px lightgrey;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px 0; }
  .wrapperUser ul {
    text-align: left;
    margin: 30px 0; }
