.navigation {
  width: 100%;
  height: 70px;
  box-shadow: 0 0 10px lightgrey;
  padding: 10px 0;
  .logoDiv {
    img {
      width: 50px;
    }
  }
  .links {
    a {
      color: black;
      display: inline-block;
      padding: 10px;
      font-size: 18px;
      text-decoration: none;
    }
  }
}

.active {
  &:after {
    content: "";
    display: block;
    height: 2px;
    background: #000;
  }
}