form {
    text-align: center;
    margin: 50px 0;
    input {
        border: 3px solid #000;
        padding: 10px 20px;
        outline: none;
    }
    button {
        padding: 13px 20px;
        border: unset;
        background: #000;
        color: #fff;
        outline: none !important;
        cursor: pointer;
        margin: 15px auto;
    }
}