.wrapper {
  margin: 50px 0;
  cursor: pointer; }
  .wrapper .userBlock {
    width: auto;
    height: auto;
    min-height: 120px;
    box-shadow: 0 0 10px lightgray;
    padding: 10px;
    position: relative;
    transition: .4s; }
    .wrapper .userBlock:hover {
      transform: scale(1.05); }
    .wrapper .userBlock .content {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%); }
  .wrapper .marginBottom {
    margin: 0 0 30px 0; }
