.wrapper {
  margin: 50px 0;
  cursor: pointer;
  .userBlock {
    width: auto;
    height: auto;
    min-height: 120px;
    box-shadow: 0 0 10px lightgray;
    padding: 10px;
    position: relative;
    transition: .4s;
    &:hover {
      transform: scale(1.05);
    }
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
    }

  }
  .marginBottom {
    margin: 0 0 30px 0;
  }
}
