.avatar {
  width: 250px;
  height: 250px;
  box-shadow: 0 3px 10px #eee;
  display: inline-block;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.basicInfo {
  display: inline-block;
  margin: 0 0 0 30px;
  ul {
    padding: 0;
    li {
      list-style: none;
      padding: 10px;
      font-size: 18px;
      display: inline-block;
    }
  }
  button {
    padding: 5px 20px;
    background: #000000;
    outline: none !important;
    border: unset;
    cursor: pointer;
    margin: 0 0 0 0;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}